/* Styling */
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

h2 {
  font-size: 4em;
}

/* Presentation */
h2 span:nth-child(odd) {
  color: #a10022;
  font-family: 'Rammetto One', arial;
}